main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-bg);
    align-items: center;
}

main * {
    color: var(--primary);
}

main form {
    display: flex;
    justify-content: center;
    margin: 50px;
}

main fieldset:not(fieldset fieldset) {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    border: #00000044 2px solid;
    padding: 30px;
    border-radius: 30px;
    background: #ffffff00;
}

fieldset fieldset {
    border: 1px #00000044 solid;
    margin: 10px 0;
    border-radius: 10px;
}

.login fieldset div,
.cadastro fieldset div:not(.generos) {
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

main input,
main select {
    background-color: #ffffff00;
    border: var(--primary) solid;
    border-width: 0 0 2px 0;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    outline: none;
}

main select {
    margin-top: 30px;
}


main input[type="email"] {
    background-image: url("../img/icons/email.svg");
}

main input[type="password"] {
    background-image: url("../img/icons/password.svg");
}

main input[type="email"],
main input[type="password"] {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    padding-left: 50px;
}

.login input:focus,
.cadastro input:focus {
    border: var(--primary-light) solid;
    border-width: 0 0 2px 0;
}

.login button,
.cadastro button {
    background: linear-gradient(90deg, var(--primary), var(--primary-light));
    border-radius: 30px;
    height: 50px;
    font-weight: bold;
    border-style: none;
    color: var(--primary-bg);
    margin: 3px;
}

#cadastro-toggle {
    border: 2px solid lightgrey;
    border-width: 0 0 2px 0;
    width: 100%;
    font-size: 1.4em;
    background-color: var(--primary-bg);
}

#limpar {
    background: linear-gradient(90deg, var(--red), var(--orange));
}

main button:hover {
    scale: 1.05
}

#google {
    background: url("../img/icons/google.svg");
}

#facebook {
    background: url("../img/icons/facebookC.svg");
}

#google,
#facebook {
    background-size: 20px;
    background-position: 20px, 0;
    background-repeat: no-repeat;
    width: fit-content;
    /* width: 45%; */
    min-width: 300px;
    border: solid 1px lightgrey;
    margin: 2px;
    color: var(--primary);
}

.login-externo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login a {
    width: 95%;
    margin-bottom: 10px;
    text-align: right;
}