 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* outline: 1px solid red; */
     font-family: Inter;
 }

 :root {
     --primary: #0a1f44;
     --primary-light: #007bff;
     --primary-bg: #f4f6f8;
     --red: #d32f2f;
     --orange: #ff6d00;
     --green: #00c853;
 }

 body,
 main {
     background: var(--primary-bg);
 }

 header,
 body {
     overflow: visible;
 }

 .esconder {
     display: none;
 }

 header {
     border: solid var(--primary-bg);
     border-width: 0 0 2px 0;
     position: sticky;
     top: 0;
     z-index: 2
 }

 #carouselId img {
     height: 500px;
     object-fit: contain;
 }

 #carouselId {
     background: linear-gradient(var(--primary), var(--primary-light));
 }


 #newsletter,
 header,
 .comprar {
     background-color: var(--primary) !important;
     color: var(--primary-bg) !important;
 }

 #newsletter {
     display: flex;
     flex-wrap: wrap;

     background-color: var(--primary);
 }

 #newsletter>div,
 #newsletter>form {
     flex: 1 1 100%;
     max-width: 100%;
 }

 @media (min-width: 768px) {

     #newsletter>div,
     #newsletter>form {
         flex: 1 1 50%;
         max-width: 50%;
     }
 }

 #newsletter button {
     /* background-color: #113168; */
     background-color: #ffffff15;
     color: var(--primary-bg);
     font-weight: bold;
 }

 ins {
     text-decoration: none;
 }

 #newsletter * {
     border: none;
 }

 input:focus:invalid {
     border: 5px var(--red);

 }

 li {
     font-weight: bold;
 }

 li a {
     color: var(--primary-bg) !important;
 }

 footer {
     background-color: var(--primary-bg);
 }

 footer *:not(#newsletter *) {
     color: var(--primary);
 }

 .preco {
     color: var(--primary-light) !important;
 }

 a {
     color: var(--primary-light);
 }

 .produto {
     width: 300px;
     background: rgb(249, 249, 249) !important;
 }

 .produto:hover {
     border-color: var(--primary) !important;
     transform: scale(1.01);
     cursor: pointer
 }

 .img-div {
     height: 275px;
 }

 .img-div img {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
 }

 .icon {
     height: 38px;
     margin: 3px;
 }

 a .icon:hover {
     scale: 1.1;
 }

 a .icon {
     margin: 10px;
 }

 .logo {
     min-width: 250px;
     max-height: 100px;
 }

 .hover-highlight:hover {
     background-color: var(--primary-light) !important;
 }

 .topo {
     position: fixed;
     right: 20px;
     bottom: 20px;
     width: fit-content;
     aspect-ratio: 1;
     border-radius: 100% !important;
     background-color: var(--primary) !important;
     color: var(--primary-bg) !important;
 }

 .wpp {
     position: fixed;
     left: 20px;
     bottom: 20px;
     background: linear-gradient(180deg, #25d366, #35a336);
     /* background-color: gradient(#25d366); */
     border-radius: 50%;
     padding: 5px;
 }

 .pesquisa *,
 .nl-email * {
     background-color: white;
     height: 50px;
 }

 .pesquisa input,
 .nl-email input {
     border-width: 1px 0px 1px 1px;
     border-radius: 20px 0 0px 20px;
 }

 .pesquisa button,
 .nl-email button {
     border: rgba(128, 128, 128, 0.363) solid;
     border-width: 1px 1px 1px 0px;
     border-radius: 0px 20px 20px 0px;
     width: 60px;
 }

 .pesquisa button:hover {
     color: var(--primary-light);
     background-color: var(--primary-bg);
 }

 .nl-email button {
     width: 150px;
     background-color: red;
 }