 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* outline: 1px solid red; */
     font-family: Inter;
 }

 :root {
     --primary: #0a1f44;
     --primary-light: #007bff;
     --primary-bg: #f4f6f8;
     --red: #d32f2f;
     --orange: #ff6d00;
     --green: #00c853;
 }

 #newsletter,
 header,
 .comprar {
     background-color: var(--primary) !important;
     color: var(--primary-bg) !important;
 }

 #newsletter button {
     background-color: #113168;
     color: var(--primary-bg);
     font-weight: bold;
 }

 #newsletter * {
     border: none;
 }

 input:focus:invalid {
     border: 5px var(--red);

 }

 .comprar:hover,
 #newsletter button:hover {
     background-color: var(--primary-light) !important;
 }

 li {
     font-weight: bold;
 }

 li a {
     color: var(--primary-bg) !important;
 }

 #newsletter {
     background-color: var(--primary);
 }

 footer {
     background-color: var(--primary-bg);
 }

 .preco {
     color: var(--primary-light) !important;
 }

 a {
     color: var(--primary-light);
 }

 .produto {

     width: 300px;
     background: var(--primary-bg) !important;
 }

 .produto:hover {
     border-color: var(--primary) !important;
     transform: scale(1.01);
     cursor: pointer
 }

 .img-div {
     height: 275px;
 }

 .img-div img {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
 }

 .icon {
     height: 38px;
     margin: 3px;
 }

 a .icon {
     margin: 10px;
 }

 .item-menu:hover {
     background-color: var(--primary-light);
 }

 .logo {
     max-height: 100px;
 }

 .topo {
     position: fixed;
     right: 20px;
     bottom: 20px;
 }

 .wpp {
     position: fixed;
     left: 20px;
     bottom: 20px;
     background: linear-gradient(180deg, #25d366, #35a336);
     /* background-color: gradient(#25d366); */
     border-radius: 50%;
     padding: 5px;
 }

 .pesquisa *,
 .nl-email * {
     background-color: white;
     height: 50px;
 }

 .pesquisa input,
 .nl-email input {
     border-width: 1px 0px 1px 1px;
     border-radius: 20px 0 0px 20px;
 }

 .pesquisa button,
 .nl-email button {
     border: rgba(128, 128, 128, 0.363) solid;
     border-width: 1px 1px 1px 0px;
     border-radius: 0px 20px 20px 0px;
     width: 60px;
 }

 .nl-email button {
     width: 150px;
     background-color: red;
 }